#dashboard-wrapper-loading {
  display: flex;
  margin: auto;
  height: 35rem;
  width: 35rem;
}

#dashboard-loading-pug {
  width: 100%;
  height: 100%;
}

#dashboard-wrapper {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100vw;
}

#dashboard-navbar {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 60px;
  left: 0;
}

#dashboard-chatList {
  position: absolute;
  left: 0;
  width: 20%;
  border: 2px solid black;
}

main {
  display: flex;
  width: 100%;
}