#login-wrapper {
  margin: auto;
  padding: 2rem 2em 0em 2em;
  border: 2px solid black;
  width: 30rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#login-button-row {
  margin-top: 2em;
}

#login-info-row {
  min-height: 60px;
}

#login-loading-pug {
  width: 60px;
  margin: auto;
}

#login-error {
  color: red;
}